@font-face {
  font-family: "Mona Sans";
  src: url("./MonaSansVF-Regular.woff2") format("woff2 supports variations"),
    url("./MonaSansVF-Regular.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --font-size: 3rem;
  --noise-filter: url(#noise-filter-small);
}

@media (min-width: 1024px) {
  :root {
    --font-size: 5rem;
    --noise-filter: url(#noise-filter-large);
  }
}

html {
  font-family: "Mona Sans";
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #232323;
  cursor: crosshair;
}

section {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60svh;
  padding: 120svh 1rem;

  > * {
    align-items: center;
    color: yellow;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    gap: calc(2 * var(--font-size));
    margin: 0;
    transform-origin: 0 0;
    max-width: 70rem;
    width: 100%;

    > * {
      flex: 1;
      filter: var(--noise-filter);
      text-align: justify;
      text-align-last: center;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: normal;
}

#scroll-container {
  position: relative;
  z-index: 1;
}

canvas {
  inset: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}
#canvas-main {
  background: #000;
}
